<div class="container-fluid px-4 mx-2">
    <div class="row mt-auto">
        <div class="col-md-12">
            <h1 class="text-center" style="color: red;">Access Denied</h1>
            <h2 class="text-center" style="color: red;">You do not have permission to this page</h2>
        </div>
    </div>
</div>